<carousel>
    <slide>
        <img src="assets/images/content.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/BoxeD_HBS22a_OG3_Grundriss.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/thumbnail_image001.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the shop!</h1>
    </div>
</section> 
